<h1>Editing Institutions Inst Contact</h1>

<%= render 'form', institutions_inst_contact: @institutions_inst_contact %>

<%= link_to 'Show', @institutions_inst_contact %> |
<%= link_to 'Back', institutions_inst_contacts_path %>
